@page "/datatables"
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<button @onclick="buttonClick" class="btn btn-primary">First Call</button>
<button @onclick="buttonClick2" class="btn btn-primary">Seccond Call</button>
<button @onclick="buttonClick3" class="btn btn-primary">No rows call</button>
<body>
    @if (forecasts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table id="example" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>

@code {
    DataTables.Shared.WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<DataTables.Shared.WeatherForecast[]>("WeatherForecast");
        await JSRuntime.InvokeAsync<object>("TestDataTablesAdd", "#example");
    }

    protected async void buttonClick()
    {
        forecasts = await Http.GetFromJsonAsync<DataTables.Shared.WeatherForecast[]>("WeatherForecast");
    }

    protected async void buttonClick2()
    {
        forecasts = await Http.GetFromJsonAsync<DataTables.Shared.WeatherForecast[]>("WeatherForecast/get2");
    }

    protected async void buttonClick3()
    {
        forecasts = null;
    }

}